<%= form_with(model: tam_vang) do |form| %>
  <% if tam_vang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tam_vang.errors.count, "error") %> prohibited this tam_vang from being saved:</h2>

      <ul>
        <% tam_vang.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nguoi_dan_id, class:'col-form-label', class:'col-form-label'%>
    <%= form.text_field :nguoi_dan_id, class:'form-control' , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :tu_ngay, class:'col-form-label' %>
    <%= form.date_select :tu_ngay , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :den_ngay, class:'col-form-label' %>
    <%= form.date_select :den_ngay , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :dia_chi , class:'col-form-label'%>
    <%= form.text_field :dia_chi , class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :li_do , class:'col-form-label'%>
    <%= form.text_field :li_do , class:'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary mt-10'%>
  </div>
<% end %>
