
<h1>Tam Vangs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nguoi dan</th>
      <th>Ho va ten</th>
      <th>Tu ngay</th>
      <th>Den ngay</th>
      <th>Dia chi</th>
      <th>Li do</th>
      <th>Trạng thái</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tam_vangs.each do |tam_vang| %>
      <tr>
        <td><%= tam_vang.nguoi_dan_id %></td>
        <td><%= tam_vang.NguoiDan.ten %></td>
        <td><%= tam_vang.tu_ngay %></td>
        <td><%= tam_vang.den_ngay %></td>
        <td><%= tam_vang.dia_chi %></td>
        <td><%= tam_vang.li_do %></td>
        <td><%= tam_vang.xac_nhan %></td>
        <td><%= link_to 'Show', tam_vang, class: 'btn btn-sm btn-outline-primary' %></td>
        <td><%= link_to 'Edit', edit_tam_vang_path(tam_vang), class: 'btn btn-sm btn-outline-warning' %></td>
        <td><%= link_to 'Destroy', tam_vang, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tam Vang', new_tam_vang_path %>
