<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @nguoi_dan.ten %>
</p>

<p>
  <strong>Biet danh:</strong>
  <%= @nguoi_dan.biet_danh %>
</p>

<p>
  <strong>So cmnd:</strong>
  <%= @nguoi_dan.so_cmnd %>
</p>

<p>
  <strong>So ho khau:</strong>
  <%= @nguoi_dan.so_ho_khau %>
</p>

<p>
  <strong>So ho chieu:</strong>
  <%= @nguoi_dan.so_ho_chieu %>
</p>

<p>
  <strong>Qh voi chu ho:</strong>
  <%= @nguoi_dan.qh_voi_chu_ho %>
</p>

<p>
  <strong>Ngay sinh:</strong>
  <%= @nguoi_dan.ngay_sinh %>
</p>

<p>
  <strong>Gioi tinh:</strong>
  <%= @nguoi_dan.gioi_tinh %>
</p>

<p>
  <strong>Noi sinh:</strong>
  <%= @nguoi_dan.noi_sinh %>
</p>

<p>
  <strong>Ngyen quan:</strong>
  <%= @nguoi_dan.ngyen_quan %>
</p>

<p>
  <strong>Dan toc:</strong>
  <%= @nguoi_dan.dan_toc %>
</p>

<p>
  <strong>Ton giao:</strong>
  <%= @nguoi_dan.ton_giao %>
</p>

<p>
  <strong>Quoc tich:</strong>
  <%= @nguoi_dan.quoc_tich %>
</p>

<p>
  <strong>Noi thuong tru:</strong>
  <%= @nguoi_dan.noi_thuong_tru %>
</p>

<p>
  <strong>Nghe nghiep:</strong>
  <%= @nguoi_dan.nghe_nghiep %>
</p>

<p>
  <strong>Noi lam viec:</strong>
  <%= @nguoi_dan.noi_lam_viec %>
</p>

<p>
  <strong>Trinh do hoc van:</strong>
  <%= @nguoi_dan.trinh_do_hoc_van %>
</p>

<p>
  <strong>Trinh do ngoai ngu:</strong>
  <%= @nguoi_dan.trinh_do_ngoai_ngu %>
</p>

<%= link_to 'Edit', edit_nguoi_dan_path(@nguoi_dan) %> |
<%= link_to 'Back', nguoi_dans_path %>
