
<div class="">
  <div class="">
    <% if Current.user%>
    <h1>
      Trang chủ
    </h1>
      <% if Current.user.permision == 1 %>
        ID: <%= NguoiDan.find_by_so_cmnd(Current.user.name).id %>
        <br/>
        Họ và tên: <%= NguoiDan.find_by_so_cmnd(Current.user.name).ten %>
        <br/>
        Ngày sinh: <%= NguoiDan.find_by_so_cmnd(Current.user.name).ngay_sinh %>
        <br/>
        Số CMND: <%= NguoiDan.find_by_so_cmnd(Current.user.name).so_cmnd %>
        <br/>
      <% end %>
    <% end %>
  </div>
  <br/>
  <% if Current.user %>
    User:   <%= Current.user.name %>
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <div class="shadow p-3 mb-5 bg-body rounded alert alert-primary" style="height: 80vh">
      <div class="text-center " style="margin: 20px; margin-top: 20px; margin-bottom: 30px; padding: 20px">
        <h2>BT Lớn Môn KTPM</h2>
        <h4>Nhóm 19</h4>
      </div>
      <h5 class="text-center ml-100 mr-100 text-secondary">
        Mỗi một người dân có thể đăng ký tài khoản
        với username là số CMND, đăng ký tài khoản
        với username không phải là số sẽ là tài khoản admin.
      </h5>

        <div class="text-primary" style="font-size: 18px">
          <h5>Tài khoản Admin: </h5>
          <ul class="list-group">
            <li class="list-group-item">
              Username: admin
            </li>
            <li class="list-group-item">
              Password: 1
            </li>
          </ul>
          <h5 class="" style="padding-top: 20px">Tài khoản user: </h5>
          <ul class="list-group">
            <li class="list-group-item">
              Username: 123456789
            </li>
            <li class="list-group-item">
              Password: 1
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
