<%= form_with(model: tam_tru) do |form| %>
  <% if tam_tru.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tam_tru.errors.count, "error") %> prohibited this tam_tru from being saved:</h2>
      <ul>
        <% tam_tru.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nguoi_dan_id %>
    <%= form.text_field :nguoi_dan_id %>
  </div>

  <div class="field">
    <%= form.label :tu_ngay %>
    <%= form.date_select :tu_ngay %>
  </div>

  <div class="field">
    <%= form.label :den_ngay %>
    <%= form.date_select :den_ngay %>
  </div>

  <div class="field">
    <%= form.label :dia_chi %>
    <%= form.text_field :dia_chi %>
  </div>

  <div class="field">
    <%= form.label :li_do %>
    <%= form.text_field :li_do %>
  </div>

  <div class="field">
    <%= form.label :xac_nhan %>
    <%= form.text_field :xac_nhan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<select name="xac-nhan">
  <option value="Chờ xác nhận">Chờ xác nhận</option>
  <option value="Cho phép">Cho phép</option>
  <option value="Từ chối">Từ chối</option>
</select>
