<%= form_with(model: tam_tru) do |form| %>
  <% if tam_tru.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tam_tru.errors.count, "error") %> prohibited this tam_tru from being saved:</h2>
      <ul>
        <% tam_tru.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tu_ngay, class: 'form-label' %>
    <%= form.date_select :tu_ngay, class: 'form-select form-select-lg mb-3'  %>
  </div>

  <div class="field">
    <%= form.label :den_ngay, class: 'form-label' %>
    <%= form.date_select :den_ngay, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :dia_chi , class: 'form-label'%>
    <%= form.text_field :dia_chi, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :li_do , class: 'form-label'%>
    <%= form.text_field :li_do, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
