
<h1>Tạm trú</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Họ và tên</th>
      <th>Từ ngày</th>
      <th>Đến ngày</th>
      <th>Địa chỉ</th>
      <th>Lí do</th>
      <th>Trạng thái</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tam_trus.each do |tam_tru| %>
      <tr>
        <td><%= tam_tru.nguoi_dan_id %></td>
        <td><%= tam_tru.NguoiDan.ten %></td>
        <td><%= tam_tru.tu_ngay %></td>
        <td><%= tam_tru.den_ngay %></td>
        <td><%= tam_tru.dia_chi %></td>
        <td><%= tam_tru.li_do %></td>
        <td>
          <div class="badge bg-primary mt-1">
            <%= tam_tru.xac_nhan %>
          </div>
        </td>
        <td style="max-width: 60px"><%= link_to 'Show', tam_tru, class: 'btn btn-sm btn-outline-primary' %></td>
        <td style="max-width: 70px">
          <%= link_to 'Cho phép', tam_tru_accept_path(tam_tru), method: :patch, class: 'btn btn-sm btn-outline-warning' %>
        </td>
        <td style="max-width: 70px">
          <%= link_to 'Từ chối', tam_tru_reject_path(tam_tru), method: :patch, class: 'btn btn-sm btn-outline-danger px-0' %>
        </td>
        <td style="max-width: 70px">
          <div class="btn btn-sm btn-outline-secondary">
            In
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tam Tru', new_tam_tru_path, class: "btn btn-success" %>
