
<p>
  <strong>Nguoi dan:</strong>
  <%= @tam_tru.nguoi_dan_id %>
</p>

<p>
  <strong>Tu ngay:</strong>
  <%= @tam_tru.tu_ngay %>
</p>

<p>
  <strong>Den ngay:</strong>
  <%= @tam_tru.den_ngay %>
</p>

<p>
  <strong>Dia chi:</strong>
  <%= @tam_tru.dia_chi %>
</p>

<p>
  <strong>Li do:</strong>
  <%= @tam_tru.li_do %>
</p>

<%= link_to 'Edit', user_edit_tam_tru_path(@tam_tru) %> |
<%= link_to 'Back', user_dang_ky_tam_tru_path %>
