
<h1>Hộ khẩu</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên chủ hộ</th>
      <th>Địa chỉ</th>
      <th>Ngày cấp</th>
      <th>Nơi cấp</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ho_khaus.each do |ho_khau| %>
      <tr>
        <td><%= ho_khau.id %></td>
        <td>
          <% if ho_khau.NguoiDan.present? %>
            <%=link_to ho_khau.NguoiDan.first.ten, nguoi_dan_path(:id => ho_khau.NguoiDan.first.id)%>
          <% else %>
            Chưa có thành viên nào
          <% end %>
        </td>
        <td><%= ho_khau.dia_chi %></td>
        <td><%= ho_khau.ngay_cap %></td>
        <td><%= ho_khau.noi_cap %></td>
        <td><%= link_to 'Xem', ho_khau, class: 'btn btn-outline-primary' %></td>
        <td><%= link_to 'Sửa', edit_ho_khau_path(ho_khau) , class: 'btn btn-outline-warning'%></td>
        <td><%= link_to 'Xóa', ho_khau, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-outline-danger'%></td>
        <td><%= link_to 'Danh sách thành viên', nguoi_dans_in_ho_khau_path(ho_khau), class: 'text-wrap btn btn-outline-secondary', style: 'width: 100px; font-size: 12px'%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ho Khau', new_ho_khau_path %>
