
<p>
  <strong>Địa chỉ:</strong>
  <%= @ho_khau.dia_chi %>
</p>

<p>
  <strong>Ngày cấp:</strong>
  <%= @ho_khau.ngay_cap %>
</p>

<p>
  <strong>Nơi cấp:</strong>
  <%= @ho_khau.noi_cap %>
</p>

<%= link_to 'Sửa', edit_ho_khau_path(@ho_khau) %> |
<%= link_to 'Quay lại', ho_khaus_path %>
