
<h1>Thành viên trong hộ khẩu ID: <%= @ho_khau.id %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Biệt danh</th>
      <th>Số CMND</th>
      <th>Số hộ khẩu</th>
      <th>Số hộ chiếu</th>
      <th>QH với chủ hộ</th>
      <th>Ngày sinh</th>
      <th>Giới tính</th>
      <th>Nơi sinh</th>
      <th>Nghyên quán</th>
      <th>Dân tộc</th>
      <th>Tôn giáo</th>
      <th>Quốc tịch</th>
      <th>Nơi thường trú</th>
      <th>Nghề nghiệp</th>
      <th>Nơi làm việc</th>
      <th>Trình độ học vấn</th>
      <th>Trình độ ngoại ngữ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @ho_khau.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(ho_khau.errors.count, "error") %> prohibited this ho_khau from being saved:</h2>

        <ul>
          <% @ho_khau.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
    <% @ho_khau.NguoiDan.each do |nguoi_dan| %>
      <tr>
        <td><%= nguoi_dan.id %></td>
        <td><%= nguoi_dan.ten %></td>
        <td><%= nguoi_dan.biet_danh %></td>
        <td><%= nguoi_dan.so_cmnd %></td>
        <td><%= nguoi_dan.so_ho_khau %></td>
        <td><%= nguoi_dan.so_ho_chieu %></td>
        <td><%= nguoi_dan.qh_voi_chu_ho %></td>
        <td><%= nguoi_dan.ngay_sinh %></td>
        <td><%= nguoi_dan.gioi_tinh %></td>
        <td><%= nguoi_dan.noi_sinh %></td>
        <td><%= nguoi_dan.ngyen_quan %></td>
        <td><%= nguoi_dan.dan_toc %></td>
        <td><%= nguoi_dan.ton_giao %></td>
        <td><%= nguoi_dan.quoc_tich %></td>
        <td><%= nguoi_dan.noi_thuong_tru %></td>
        <td><%= nguoi_dan.nghe_nghiep %></td>
        <td><%= nguoi_dan.noi_lam_viec %></td>
        <td><%= nguoi_dan.trinh_do_hoc_van %></td>
        <td><%= nguoi_dan.trinh_do_ngoai_ngu %></td>
        <td><%= link_to 'Show', nguoi_dan, class: 'btn btn-outline-primary' %></td>
        <td><%= link_to 'Edit', edit_nguoi_dan_path(nguoi_dan), class: 'btn btn-outline-warning' %></td>
        <td><%= link_to 'Destroy', nguoi_dan, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-outline-danger'%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nguoi Dan', new_nguoi_dan_path %>
